.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  font-family: "EB Garamond", serif;
  color: #4b5a56;
  z-index: 999;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.title,
.instagram {
  position: fixed;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  top: 25px;
  left: 25px;
}

.instagram {
  top: 25px;
  right: 25px;
}
